package templates

import(
    "github.com/Ryan-Har/site-monitor/src/templates/partials"
    "github.com/Ryan-Har/site-monitor/src/models"
)

templ Incidents(userInfo models.UserInfo) {
     <div class="container-fluid">
        <div class="row flex-nowrap">
            @partials.SideBar(userInfo)
            <div class="col py-3 offset-2 offset-sm-3 offset-xl-2">
                //right side content
            </div>
        </div>
    </div>
}