package templates

import(
    "github.com/Ryan-Har/site-monitor/frontend/templates/partials"
)

templ Maintenance() {
     <div class="container-fluid">
        <div class="row flex-nowrap">
            @partials.SideBar()
            <div class="col py-3">
                //right side content
            </div>
        </div>
    </div>
}